@import './partials/fonts';
@import './partials/params';
@import './partials/mixins';

$text-color: rgb(31, 31, 31);

.about {
	display: flex;
	justify-content: center;
	background: url('../images/schema_tr.png') no-repeat 85% bottom;
	background-color: $alt-bg-color;
	background-size: 60%;
	position: relative;
	top: -70px;
	z-index: 45;
	padding-top: 85px !important;

	.container {
		@include container;

		.sectionHeader {
			@include sectionHeader;
		}
	}
}

.aboutRow {
	color: $text-color;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__col {
		max-width: 50%;
		display: flex;
		flex-direction: column;
	}

	&__bigText {
		display: inline-block;
		font-size: 30px;
		font-family: 'GothamPro-Bold';
		text-transform: uppercase;
		line-height: 170%;
		text-align: center;
	}

	&__selectText {
		background-color: $sec-color;
		color: #fff;
		padding: 10px;
	}
}

@media only screen and (max-width: 950px) {
	.about {
		background-size: 85%;
		.aboutRow {
			flex-direction: column;
			align-items: center;
			&__col {
				max-width: 80%;
			}
			&__bigText {
				font-size: 25px;
				margin: 15px auto;
			}
		}
	}
}
