@import './partials/fonts';
@import './partials/params';
@import './partials/mixins';

@import './nav.scss';

.header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 600px;
	// background: url('../images/bg2.png') 90% 50% no-repeat fixed,
	// 	url('../images/bg3.png') 55% 57% no-repeat fixed,
	// 	url('../images/bg1.png') 75% 30% no-repeat fixed,
	// 	url('../images/clouds.png') repeat center center,
	// 	url('../images/clouds2.png') repeat-y 10% 20%,
	// 	radial-gradient(ellipse at center, #2989d8 0%, #1e5799 100%);
	// background-size: 30%, 25%, 46%, 70%, 70%, cover;
	background-color: $main-color;
	background: url('../images/clouds.png') repeat center center,
		url('../images/clouds2.png') repeat-y 10% 20%,
		radial-gradient(ellipse at center, #2989d8 0%, #1e5799 100%);
	background-size: 70%, 70%, cover;
	color: white;
	clip-path: ellipse(150% 100% at 50% 0%);
	z-index: 50;

	.container {
		@include container;
		padding-top: 15px;
		background: url('../images/navesyi.png') no-repeat bottom right;
		background-size: 65%;
	}
}

.mainHeader {
	// margin-top: 2%;
	&__text {
		text-transform: uppercase;
		font-family: 'GothamPro-Bold';
	}
	&__underline {
		margin-top: 10px;
		width: 50px;
		border-bottom: 2px solid white;
	}
	&__phone {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: white;
		font-size: 25px;
		padding: 7px 5px;
		margin-top: 12px;
		max-width: 250px;
		transition: all 0.5s;
		&:hover {
			color: $beige-color;
		}
	}
}

.mainList {
	margin-top: 30px;
	&__row {
		display: flex;
		align-items: center;
		font-size: 18px;
		margin: 15px 0;
	}
	&__item {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 1030px) {
	.header {
		height: 660px;
	}
}

@media only screen and (max-width: 800px) {
	.header {
		height: 675px;
		.container {
			background-size: 80%;
		}
		.mainList {
			margin-top: 20px;
			padding-left: 15px;
			background-color: rgba(29, 29, 29, 0.3);
			border-radius: 20px;
			i {
				font-size: 20px;
			}
			&__item {
				font-size: 18px;
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.header {
		height: 700px;
		.mainHeader {
			// margin-top: 2%;
			&__text {
				font-size: 1.7em;
			}
		}
		.mainList {
			margin-top: 10px;
		}
	}
}
