@import 'normalize';

@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'GothamPro';
	box-sizing: border-box;
}

.section {
	padding: 20px 0 30px;
}

.copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	min-height: 45px;
	color: grey;
	hr {
		width: 70%;
	}
}
