@import './partials/fonts';
@import './partials/params';

.mobile {
    display: none;
}

.topNav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
        text-align: center;
		color: $beige-color;
		font-size: 35px;
		font-family: 'GothamPro-Bold';
		padding: 5px 15px;
	}

	&__links {
		// width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		display: flex;
		// float: left;
		padding: 5px;
		margin: 20px;
		cursor: pointer;

		border-bottom: 1px solid transparent;
		transition: all 0.5s;
		&:hover {
			border-bottom-color: white;
		}

		&-button {
			border-radius: 15px;
			background-color: lighten($sec-color, 15%);
			padding: 10px 20px;
			&:hover {
				border-bottom-color: transparent;
				background-color: lighten($sec-color, 25%);
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.topNav__block {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 800px) {
	.topNav {
        flex-wrap: wrap;
        justify-content: center;
		&__links {
            flex-wrap: wrap;
            justify-content: center;
		}
		&__block {
			flex-wrap: nowrap;
		}
	}
}


@media only screen and (max-width: 620px) {
	.topNav {
        flex-direction: column;
        &__links {          
            flex-direction: column;  
            flex-wrap: nowrap;            
        }        
		&__block {
            // flex-direction: column;
			flex-wrap: nowrap;
        }
        // &__link {
        //     width: 50%;
        // }
    }
    .nomobile {
        display: none;
    }
    .mobile {
        display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		cursor: pointer;
		border-bottom: 1px solid transparent;
		transition: all 0.5s;
		&:hover {
			border-bottom-color: white;
		}
    }
}
