@import './partials/fonts';
@import './partials/params';
@import './partials/mixins';

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -40px;
	position: relative;
    padding: 0 !important;

	.container {
		@include container;

		.sectionHeader {
			@include sectionHeader;
		}
	}

	.carousel {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 40px;

		&__item {
			width: 10%;
			// height: 200px;
			margin: 15px 20px;
			img {
				width: 95%;
				height: 95%;
			}
		}

		i {
			font-size: 45px;
			margin: 0 15px;
		}
	}
}
