@import '../../styles/params';
@import '../../styles/mixins';

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -40px;
	position: relative;
	padding: 0 !important;

	.container {
		@include container;

		.sectionHeader {
			@include sectionHeader;
		}
	}
}
