@import '../../styles/_params.scss';
@import '../../styles/_mixins.scss';

.stages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $alt-bg-color;
	padding-bottom: 20px !important;

	.container {
		@include container;

		.sectionHeader {
			@include sectionHeader();
		}
	}

	.stageRow {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.stageLine {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		// border-bottom: 2px dashed $main-color;

		&__item {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 80%;
			cursor: pointer;
			border-bottom: 2px dashed $main-color;

			&:hover {
				& {
					border-bottom-color: lighten($main-color, 15%);
				}
				.stageLine {
					&__item {
						border-bottom-color: lighten($main-color, 15%);
					}
					&__name {
						background-color: lighten($main-color, 15%);
					}
					&__vline {
						border-left-color: lighten($main-color, 15%);
					}
				}
			}

			&-active {
				& {
					border-bottom-color: darken($beige-color, 25%);
				}
				.stageLine {
					&__item {
						border-bottom-color: darken($beige-color, 25%);
					}
					&__name {
						background-color: darken($beige-color, 25%);
					}
					&__vline {
						border-left-color: darken($beige-color, 25%);
					}
				}
			}
		}

		&__num {
			position: relative;
			top: 10px;
			font-size: 30px;
			color: darken($alt-bg-color, 40%);
			font-family: sans-serif;
			font-weight: 900;
		}

		&__name {
			position: relative;
			top: 5px;
			padding: 5px 5px 5px 10px;
			color: white;
			background-color: $main-color;
			max-width: 50%;
			min-width: 135px;
			transition: all 0.5s;
            font-family: 'GothamPro-Bold';            
		}

		&__vline {
			margin-top: 15px;
			height: 19px;
			border-left: 4px solid $main-color;
			position: relative;
			top: 9px;
			transition: all 0.5s;
		}
	}

	.stageDesc {
		margin-top: 30px;
		min-height: 125px;
		align-self: baseline;

		&__name {
            color: darken($text-color, 50%);
            font-weight: 900;
		}
		&__text {
			color: $text-color;
		}
	}
}

@media only screen and (max-width: 680px) {
	.stages {
		.stageRow {
			justify-content: space-between;
            flex-direction: row;
            align-items: baseline;
		}

		.stageLine {
			flex-direction: column;
            margin-right: 15px;
            margin-top: 0;

			&__item {
				border-bottom: 0px solid transparent;
			}
			&__vline {
				display: none;
			}
        }
        
        .stageDesc {
			margin-top: 0;
			font-size: 14px;
        }
	}
}
