@import '../../styles/_params.scss';
@import '../../styles/_mixins.scss';

.offer {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background-color: $main-color;
	background: radial-gradient(
			circle closest-side,
			lighten($main-color, 7%) 0px,
			lighten($main-color, 5%) 180px,
			#546881 181px,
			lighten($main-color, 5%) 182px,
			lighten($main-color, 2%) 250px,
			#445f85 251px,
			lighten($main-color, 2%) 252px,
			$main-color 320px,
			#375886 321px,
			$main-color 322px,
			$main-color 390px,
			#2b5288 391px,
			$main-color 392px
		);
	background-size: cover;
	// background-size: 60px 60px;
	padding: 20px 0 30px;
	color: white;
	transition: all 0.5;
	&__header {
		margin-bottom: 15px;
		font-weight: 900;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		transition: all 0.5s;
		&:hover {
			color: $beige-color;
			transform: scale(1.15);
		}
	}
	&__list {
		margin-top: 5px;
		max-width: 90%;
		padding: 0 10%;
	}
	&__item {
		font-weight: 500;
		margin-top: 5px;
		color: rgba(255, 255, 255, 0.9);
	}
	&__btn {
		font-family: 'GothamPro';
		text-transform: uppercase;
		margin-top: 15px;
		padding: 15px;
		color: white;
		background-color: $sec-color;
		border: 0px;
		border-radius: 30px;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: lighten($sec-color, 15%);
		}
	}
}
