@import '../../styles/_params.scss';
@import '../../styles/_mixins.scss';

.reviews {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: $alt-bg-color;

	.container {
		@include container;

		.sectionHeader {
			@include sectionHeader();
		}

		.reviewsCarousel {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: baseline;
			margin-top: 25px;

			&__item {
			}
		}

		.reviewCard {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			max-width: 250px;
			width: 100%;
			height: 100%;

			&__imgwr {
			}
			&__img {
				border-radius: 100%;
			}
			&__name {
				margin: 10px auto;
			}
			&__text {
				display: flex;
				flex-direction: column;
				margin-bottom: 15px;
				height: 100%;
				min-height: 150px;
			}
			&__btn {
				font-family: 'GothamPro';
				text-transform: uppercase;
				margin-top: 15px;
				padding: 15px;
				color: white;
				background-color: rgb(71, 141, 206);
				border: 0px;
				border-radius: 30px;
				cursor: pointer;
				transition: all 0.5s;
				&:hover {
					background-color: darken(rgb(71, 141, 206), 15%);
				}
			}
		}
	}
}
