@font-face {
	font-family: 'GothamPro';
	src: url('./fonts/GothamPro/GothamPro.eot') format('eot'),
		url('./fonts/GothamPro/GothamPro.otf') format('opentype'),
		url('./fonts/GothamPro/GothamPro.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro.ttf') format('truetype'),
		url('./fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
}

@font-face {
	font-family: 'GothamPro-Bold';
	src: url('./fonts/GothamPro-Bold/GothamPro-Bold.eot') format('eot'),
		url('./fonts/GothamPro-Bold/GothamPro-Bold.otf')
			format('opentype'),
		url('./fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
		url('./fonts/GothamPro-Bold/GothamPro-Bold.ttf')
			format('truetype'),
		url('./fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold')
			format('svg');
}
