@import './partials/fonts';
@import './partials/params';

@mixin container {
	display: flex;
	flex-direction: column;
	margin: 0 5%;
	width: 90%;
	max-width: $viewport;
}

@mixin sectionHeader($color: darken($main-color, 15%)) {
    // padding-top: 20px;	
	&__text {
		color: $color;
		font-family: 'GothamPro-Bold';
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__underline {
		width: 50px;
		border-bottom: 2px solid $color;
	}
}
