@import '../../styles/_params.scss';
@import '../../styles/_mixins.scss';

.modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	max-width: 400px;
	width: 95%;
	padding: 32px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 5px 8px 0px rgba(0, 0, 0, 0.14),
		0px 1px 14px 0px rgba(0, 0, 0, 0.12);
	background-color: rgb(255, 253, 245);
	border-radius: 5px;

	&__header {
		display: flex;
		justify-content: space-between;

		h3 {
			margin-top: 0px;
		}
	}

	&__closeIcon {
		cursor: pointer;
		color: rgb(97, 0, 0);
		transition: all 0.2s;
		&:hover {
			transform: scale(1.3);
		}
	}

	&__input {
		margin-top: 5px;
		&-name {
			transition: all 0.4s;
		}
		&-contacts {
			transition: all 0.5s;
		}
		&-comment {
			transition: all 0.6s;
		}
	}

	&__btnHelper {
		overflow: hidden;
		transition: all 0.3s;
		height: 0px;
		font-size: 13px;
	}

	&__btn {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 500px) {
	.modal {
		padding: 25px;
	}
}
