// @import './slick.min.scss';
// @import './slick-theme.min.scss';
// @import '../../../styles/params';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slickContainer {
	margin: 0 auto;
	padding: 10px 40px 10px;
	width: 95%;
	color: #333;
	// background: #419be0;
}

.slick-h3 {
	background: blue;
	color: #fff;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
}

.variable-width .slick-slide p {
	background: blue;
	height: 100px;
	color: #fff;
	margin: 5px;
	line-height: 100px;
	text-align: center;
}

.center .slick-center h3 {
	color: #e67e22;
	opacity: 1;
	transform: scale(1.08);
}

.center h3 {
	opacity: 0.8;
	transition: all 300ms ease;
}

.content {
	padding: 20px;
	margin: auto;
	width: 90%;
}

.slick-slide {
	// width: 200px;

	.image {
		width: 100%;
		padding: 10px;
	}

	img {
		width: 85%;
		border: 5px solid rgba(32, 72, 129, 0.3);
		display: block;
		margin: auto;
		&.slick-loading {
			border: 0;
		}
	}
}

.slick-slider {
	margin: 30px auto 50px;
}
.slick-dots {
	margin-left: 0;
}
.slick-thumb {
	bottom: -45px;
}
.slick-thumb li {
	width: 60px;
	height: 45px;
}
.slick-thumb li img {
	filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
	filter: grayscale(0%);
}
.slick-vertical .slick-slide {
	height: 180px;
}
.slick-arrow {
	// background-color: rgb(255, 255, 255);
	color: black;
	height: 90%;
	width: 50px;
	transition: all 0.2s;
	z-index: 100;
}
.slick-arrow:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.slick-prev::before,
.slick-next::before {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.8);
}

// .slick-prev {
// 	z-index: 100;
// 	// left: 0 !important;
// }
// .slick-next {
// 	z-index: 100;
// 	// right: 0 !important;
// }

// @media (max-width: 768px) {
// 	h3 {
// 		font-size: 24px;
// 	}
// 	.center {
// 		margin-left: -40px;
// 		margin-right: -40px;
// 	}
// 	.center .slick-center h3 {
// 		color: #e67e22;
// 		opacity: 1;
// 		transform: scale(1);
// 	}
// 	.center h3 {
// 		opacity: 0.8;
// 		transform: scale(0.95);
// 		transition: all 300ms ease;
// 	}
// }

@media (max-width: 480px) {
	.slickContainer {
		width: 95%;
		padding: 10px 10px 10px;
	}

	.slick-slider {
		margin: 10px auto 20px;
	}

	.slick-slide {
		// width: 200px;
		img {
			width: 100%;
		}
	}
}
