@import '../../styles/_params.scss';
@import '../../styles/_mixins.scss';

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: radial-gradient(
		ellipse at center,
		lighten($main-color, 7%) 0%,
		$main-color 100%
	);
	background-size: cover;
	background-color: $main-color;

	.container {
		@include container;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		.sectionHeader {
			@include sectionHeader(white);
		}
	}

	&__block {
		width: 90%;
	}

	// Contacts

	&__list {
		list-style: none;
		padding-left: 0;
	}

	&__listItem {
		margin-top: 12px;		
	}

	&__icon {
		margin-right: 10px;
		color: $beige-color;
	}

	&__link {
		padding: 8px 0;
		display: flex;
		align-items: center;
		text-decoration: none;
		max-width: 350px;
		color: rgba(255, 255, 255, 0.8);
		transition: all 0.5s;
		&:hover {
			color: $beige-color;
		}
	}

	&__listText {
		height: 100%;
	}

	// Form

	&__formWr {
		margin: 16px auto;
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	.btForm {
		display: flex;
		flex-direction: column;
		color: white;

		&__fRow {
			display: flex;
			justify-content: space-between;
			max-width: 433px;
		}

		&__sRow {
			display: flex;
			flex-direction: column;
			max-width: 433px;
			margin-top: 15px;
		}

		&__col {
			display: flex;
			width: 100%;
			background-color: $sec-color;
			&:first-child {
				margin-right: 15px;
			}
		}

		&__label {
			max-width: 50%;
			padding: 7px;
			background-color: $sec-color;
			box-sizing: border-box;
			cursor: text;
		}

		&__labelTa {
			cursor: text;
			width: 100%;
			padding: 7px;
			background-color: $sec-color;
			box-sizing: border-box;
		}

		&__inp {
			width: 50%;
			border: 0;
			padding: 7px;
			color: white;
			background-color: $sec-color;
		}

		&__inpTA {
			max-width: 433px;
			max-height: 120px;
			width: 100%;
			height: 100%;
			border: 0;
			padding: 12px 7px;
			color: white;
			background-color: $sec-color;
			resize: none;
			box-sizing: border-box;
			margin: 0;
		}

		&__btn {
			text-align: center;
			max-width: 200px;
			font-size: 0.8em;
			text-transform: uppercase;
			margin-top: 15px;
			padding: 15px;
			color: white;
			background-color: $sec-color;
			border: 0px;
			border-radius: 30px;
			cursor: pointer;
			transition: all 0.5s;
			&:hover {
				background-color: lighten($sec-color, 15%);
			}
		}
	}
}

@media only screen and (max-width: 950px) {
	.btForm {
		&__fRow {
			flex-direction: column;
		}
		&__col {
			margin-top: 15px;
		}
		&__inp {
			width: 60%;
			&:first-child {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.contacts {
		.container {
			flex-direction: column;
			align-items: center;
		}
	}
}
