.copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	min-height: 45px;
	color: grey;
	hr {
		width: 70%;
    }
    a {
        color: rgb(109, 135, 165);
    }
}
