@import '../../styles/_params.scss';
@import '../../styles/_mixins.scss';

.benefits {
	display: flex;
	justify-content: center;
	background-color: $main-color;

	.container {
		@include container;

		.sectionHeader {
			@include sectionHeader(white);
		}
	}

	.cards {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;

		&__block {
			width: 100%;
			display: flex;
			justify-content: space-around;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;
			max-width: 230px;
			padding: 15px 10px;
			&:hover {
				.cards__Micon {
					color: lighten($beige-color, 15%);
					transform: scale(1.2);
				}
			}
		}

		&__Micon {
			transition: all 0.5s;
			color: $beige-color;
			font-size: 70px;
		}

		&__name {
			margin-top: 25px;
			font-family: 'GothamPro-Bold';
			font-size: 130%;
		}

		&__desc {
			text-align: center;
			margin-top: 25px;
		}
	}
}

@media only screen and (max-width: 900px) {
	.cards {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 540px) {
	.cards {
		&__block {
			flex-wrap: wrap;
		}
	}
}
